header {
    font-weight: 500;
    font-size: 30pt;
    color: cornsilk;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-family: Bradley Hand, cursive;
    font-style: italic;
}

.profilePic {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 20%;
    height: 20em;
    display: block;
    border-radius: 30%;
    border-color: black;
    border: 3px solid;
}

body {
    background-image: url(../images/homebg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

li {
    color: white;
    font-size: 17pt;
    font-family: monospace;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 200%;
    background-color: rgb(36, 156, 196);
    background-repeat: no-repeat;
}

ul {
    list-style: none;
}

li::before {
    content: "• ";
    color: black;
}

.w3cValidator {
    position: fixed;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 50%;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    height: 50px;
    width: 100px;
    padding: 5pt;
}

#assignmentsList {
    background-color: ;
    bottom: 0px;
    position: fixed;
    width: 100%;
}